

.header {
  margin: auto;
  width: 80%;
  background-image: url("pick1.jpg");
  background-position: center;
  background-size: cover;
  height: 300px;
  color: white;
}

.size {
  width: 20%;
  height: auto;
  margin-left:42.5%;
}

.info {
margin: auto;
padding: 20%;
width: 80%;
height: 200px;
}

.info1 {
  margin: auto;
  width: 80%;
  height: 300px;
}

.footer {
  margin: auto;
  width: 80%;
  height: 200px;
  color: white;
}

* {
  color: white;
}
